.node {
  width: 25px;
  aspect-ratio: 1/1;
  outline: 1px solid rgb(49 46 129 / 0.3);
  display: inline-block;
  border-collapse: collapse;
}

.node-start {
  background-color: #e11d48;
}

.node-finish {
  background-color: #059669;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  50% {
    border: 1px solid #fed7aa;
  }

  75% {
    background-color: #fdba74;
  }

  100% {
    background-color: transparent;
  }
}

.node-wall {
  background-color: #0c4a6e;
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #90e2ae;
  }

  50% {
    transform: scale(1.2);
    background-color: #86efac;
  }

  100% {
    transform: scale(1);
    background-color: #86efac;
  }
}
